
@font-face {
  font-family: CatchyMager;
  src: url(fonts/CatchyMager-Normal.ttf);
}

@font-face {
  font-family: CocoGothic;
  src: url(fonts/CocoGothic_trial.ttf);
}

@font-face {
  font-family: CocoGothic-Bold;
  src: url(fonts/CocoGothic-Bold_trial.ttf);
}





* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}



.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.footer-color {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}


body{
  background-color: #FF66C4;
}






/* Hero*/
.hero-bg {
  background-image: linear-gradient(rgba(98, 62, 42, 0.4), rgba(98, 62, 42, 0.4)), url("img/4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.25rem;
  font-family: serif;
  width: 1000px 
  
}


.hero-btn {
  display: inline-block;
  color: #CB6CE6;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.7rem;
  margin-top: 1rem;
  border-radius: 5%;
  cursor: pointer;
  border: 1px solid white;
  font-family: CocoGothic-Bold;
  width: 200px;
  height: 50px;
  font-size: small;
  
}

.hero-btn:hover {
  border: 1px solid darkolivegreen;
  transition: ease-in-out 0.3s;
  color: white;
}

  h1 {
    font-size: 8rem;
    font-family: CatchyMager;
    margin-bottom: 10rem;
   margin-top: 11rem;
    
  }

  h2{
    font-family: CatchyMager;
    color: #2A2015;
  }

/*About*/
  .about-bg{

  background-color: #FF66C4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 120vh;

  }

  p{
    font-family: CocoGothic-Bold;
    color: #2A2015;
  }

/*Responsive,  adjusting screens*/
  @media (max-width: 600px) {
    
    h1 {
   font-size: 3rem;
   margin-bottom: 14rem;
   margin-top: 10rem
 }

 h2{
   margin-top: 2rem;
   
 }

 .hero-text{
  width: 350px;
 }

 
}

